{% extends "base.jinja" %}
{% block head %}
<link rel="preload" href="/assets/css/blog.css?v={{app.ctx.CURRENT_COMMIT}}" as="style">
<link rel="stylesheet" type="text/css" href="/assets/css/blog.css?v={{app.ctx.CURRENT_COMMIT}}">
{%- block child_block_include -%}{%- endblock -%}
{% endblock %}
{% block title -%}
    {%- if blog.blog_info.title -%}
        {{blog.blog_info.title | e}}
    {%- else -%}
        {{blog.blog_info.name | e}}
    {%- endif -%}
{% endblock %}

{% block center %}
    {%- include 'components/blog_header.jinja' -%}

    <form class="blog-search-bar search-bar" method="get" action="/{{blog.blog_info.name}}/search" autocomplete="off">
        {{-search_icon(20, 20)}}
        {%- if blog_search_query is defined -%}
            <input name="q" type="text" value="{{blog_search_query | e}}" placeholder="{{translate(request.ctx.language, "blog_search_placeholder_text")}}"></input>
        {%- else -%}
            <input name="q" type="text" placeholder={{translate(request.ctx.language, "blog_search_placeholder_text")}}></input>
        {%- endif -%}
    </form>
    
    {%- block blog_contents %}
    {%- endblock %}

    {%- if blog.next or (request.args.get("p", "1") | int) > 1 %}
        <div class="paging">
            {% block paging %}
                {% set page = (request.args.get("p", "1") | int) %}
                {% set history = request.args.get("history", "") %}
                {% set current_cursor = request.args.get("continuation", "") %}

                {# Construct next history list #}
                {% if current_cursor %}
                    {% if history %}
                        {% set next_history = history + "," + current_cursor %}
                    {% else %}
                        {% set next_history = current_cursor %}
                    {% endif %}
                {% elif page == 1 %}
                    {% set next_history = "first_page" %}
                {% else %}
                    {% set next_history = history %}
                {% endif %}

                {# Construct prev continuation cursor from history #}
                {% set history_list = history.split(",") if history else [] %}
                {% set prev_cursor = "" %}
                {% if history_list | length > 0 %}
                    {% set last_history = history_list[-1] %}
                    {% if last_history != "first_page" %}
                        {% set prev_cursor = last_history %}
                    {% endif %}
                    {% set prev_history_list = history_list[:-1] %}
                    {% set prev_history = prev_history_list | join(",") %}
                {% else %}
                    {% set prev_history = "" %}
                {% endif %}

                <div class="pagination-bar">
                    {% if page > 1 %}
                        <a class="secondary button" href="{{request.path}}?p=1#m">First</a>
                        {% if page == 2 %}
                            <a class="secondary button" href="{{request.path}}?p=1#m">« Prev</a>
                        {% else %}
                            <a class="secondary button" href="{{request.path}}?continuation={{prev_cursor | urlencode}}&p={{page - 1}}&history={{prev_history | urlencode}}#m">« Prev</a>
                        {% endif %}
                    {% endif %}
                    
                    <span class="page-number">Page {{page}}</span>
                    
                    {% if blog.next %}
                        <a class="primary button" href="{{request.path}}?continuation={{blog.next.cursor | urlencode}}&p={{page + 1}}&history={{next_history | urlencode}}#m">Next »</a>
                    {% endif %}
                </div>
            {% endblock%}
        </div>
    {% endif %}
{%- endblock %}
