{% from 'macros/render_error_details.jinja' import render_error_details with context  %}

{# The following is a macro as so it can render different messages based on the given error #}
{% macro create_npf_render_error_alert(error_information) %}
<figure class="alert error secondary">
    <figcaption>
        <span>[!]</span>
        <h4>{{translate(request.ctx.language, "alert_error_on_rendering_post_contents_heading")}}</h4>
        <p>{{translate(request.ctx.language, "alert_error_on_rendering_post_contents")}}</p>
    </figcaption>

    {{render_error_details(*error_information, open=false)}}
</figure>
{% endmacro %}