<figure class="alert">
    <figcaption>
        <span>[!]</span>
        <h4>{{translate(request.ctx.language, "alert_partial_restricted_results_heading")}}</h4>
        <p>{{translate(request.ctx.language, "alert_partial_restricted_results_message")}}</p>
    </figcaption>
</figure>