# Controls deployment options
# Host port to bind the container's port 8000 to. Default is localhost (127.0.0.1:8000).
# Change to "8000" or "0.0.0.0:8000" if you want to expose it publicly.
PRIVIBLUR_PORT_BIND=127.0.0.1:8000

# Domain which the instance is hosted. Used to generate links to the instance.
# PRIVIBLUR_DEPLOYMENT_DOMAIN=

# Enables secure cookies and forces HTTPS links.
PRIVIBLUR_DEPLOYMENT_HTTPS=false

# Number of worker Priviblur instances to spawn.
PRIVIBLUR_DEPLOYMENT_WORKERS=1

# Redis cache URL. Comment to disable caching, or use standard Redis URL.
PRIVIBLUR_CACHE_URL=redis://priviblur-redis:6379

# Caching durations in seconds
PRIVIBLUR_CACHE_ACTIVE_POLL_RESULTS_FOR=3600
PRIVIBLUR_CACHE_EXPIRED_POLL_RESULTS_FOR=86400
PRIVIBLUR_CACHE_FEED_FOR=3600
PRIVIBLUR_CACHE_BLOG_FEED_FOR=3600
PRIVIBLUR_CACHE_BLOG_POST_FOR=300

# Backend request timeouts to Tumblr
PRIVIBLUR_BACKEND_MAIN_RESPONSE_TIMEOUT=10
PRIVIBLUR_BACKEND_IMAGE_RESPONSE_TIMEOUT=30

# Default user preferences
PRIVIBLUR_DEFAULT_USER_PREFERENCES_THEME=auto
PRIVIBLUR_DEFAULT_USER_PREFERENCES_LANGUAGE=en_US
PRIVIBLUR_DEFAULT_USER_PREFERENCES_EXPAND_POSTS=false

# Logging levels (numerical logging levels, e.g. 50=CRITICAL, 40=ERROR, 30=WARNING, 20=INFO, 10=DEBUG)
PRIVIBLUR_LOGGING_SANIC_LOGGING_LEVEL=50
PRIVIBLUR_LOGGING_PRIVIBLUR_LOGGING_LEVEL=30
PRIVIBLUR_LOGGING_PRIVIBLUR_EXTRACTOR_LOGGING_LEVEL=30

# Enable dev mode
PRIVIBLUR_MISC_DEV_MODE=false
