{# Displays information about some generic exception to the user #}

{% extends "base.jinja" %}
{% from 'macros/render_error_details.jinja' import render_error_details with context  %}
{% block head %}
<style>
#hyperblur-error > div {
    background-color: var(--color-top-level-card-bg);
    border-radius: 25px;
    padding: 25px;
    max-width: 100%;
}

#hyperblur-error h2 {
    margin: 0;
}

#hyperblur-error {
    color: var(--color-text);
}

#hyperblur-error details {
    margin-top: 20px;
}

#hyperblur-error pre {
    text-wrap: wrap;
}

#hyperblur-error a {
    text-decoration: underline;
}

#error-header {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (min-width: 768px) {
    #hyperblur-error pre {
        text-wrap: nowrap;
    }

    #hyperblur-error > div {
        max-width: unset;
        width: fit-content;
    }
}

}
</style>

{% endblock %}
{% block title %}{{translate(request.ctx.language, "hyperblur_error_page_title")}}{% endblock %}

{% block center %}
<section id="hyperblur-error">
    <div class="card">
        <div id="error-header">
            <h2>{{translate(request.ctx.language, "hyperblur_error_generic")}}</h2>
            <p>{{translate(request.ctx.language, "hyperblur_error_generic_description")}}</p>
            <a href="https://github.com/dsbok/hyperblur/issues/new">{{translate(request.ctx.language, "hyperblur_error_generic_description_2")}}</a>
        </div>

        {{render_error_details(exception_name, exception_message, exception_context)}}
    </div>
</section>
{%- endblock %}
