{% extends "post/notes/viewer/template.jinja"%}
{% from 'components/icons/expand.jinja' import dropdown_icon  %}

{% block control_bar %}
    <select onchange="window.location.href=this.value">
            <option value="/{{post_url}}?note_viewer=replies" {% if latest is false %} selected {% endif %}>{{translate(request.ctx.language, "post_note_viewer_view_replies_filter_sort_oldest")|e}}</option>
            <option value="/{{post_url}}?note_viewer=replies&latest" {% if latest %} selected {% endif %}>{{translate(request.ctx.language, "post_note_viewer_view_replies_filter_sort_newest")|e}}</option>
        </select>
{% endblock %}


{% block notes %}
    {%- for note in notes.notes -%}
        {%- include "post/notes/note/reply.jinja" -%}
    {%- endfor -%}
{% endblock %}

{% block paging %}
    {% if notes.after_id %}
            <a class="secondary next-page button" href="/{{post_url | e}}?{{request.get_args(keep_blank_values=True) | update_query_params("after", notes.after_id)}}">{{translate(request.ctx.language, "pagination_next_page")}}</a>
    {% endif %}
{% endblock %}
